.moviecard {
  padding: 5px 10px;
  /* border: 1px solid white; */
  box-shadow: 0 0 2px white;

  margin: 5px;
}
.moviecard:hover {
  box-shadow: 0 0 4px white;
}
.moviecard > * {
  display: flex;
  padding: 5px 5px;
}
.moviecard .movieimg svg:hover {
  cursor: pointer;
}
.movieimg img {
  height: 120px;
  width: 120px;
  padding: 10px;
  /* border: 1px solid white; */
  /* margin: 0 5px; */
}
.moviecard .movieinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}
.moviecard .movieinfo h4 {
  cursor: pointer;
}
.moviecard .movieinfo > * {
  margin: 5px;
}
.similarMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
