.moviecard {
  padding: 5px 10px;
  border: 1px solid white;
  box-shadow: 2px 2px 2px white;
  margin: 5px;
}
.moviecard:hover {
  transform: scale(1.05);
}
.moviecard > * {
  display: flex;
  padding: 5px 5px;
}
.movieimg img {
  height: 120px;
  width: 120px;
  padding: 10px;
  /* border: 1px solid white; */
  /* margin: 0 5px; */
}
.moviecard .movieinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.moviecard .movieinfo > * {
  margin: 5px;
}
